<div class="flex justify-between items-center">
  <div class="text-lg font-medium text-slate-700 py-3">Book lists</div>
  <button mat-stroked-button type="button" color="primary" (click)="createBook()">
    <span class="text-slate-700">Add book</span>
  </button>
</div>
<div
  *ngIf="bookList; else noData"
  class="grid grid-cols-1 lg:grid-cols-2 sm:grid-cols-1 gap-3 py-3 justify-center items-center"
>
  <div *ngFor="let book of bookList">
    <app-card
      [id]="book.id"
      [title]="book.title"
      [isbn]="book.isbn"
      [author]="book.author"
      [publisher]="book.publisher"
      [createdAt]="book.created_at"
      [updatedAt]="book.updated_at"
      (editData)="createBook(book)"
      (deleteData)="deleteBook(book.id)"
    ></app-card>
  </div>
</div>

<ng-template #noData>
  <div class="flex flex-col mx-auto space-y-4 justify-center h-[50vh] items-center font-thin text-gray-100" [ngClass]="!!bookList ? 'text-gray-100' : ''">
    <div class="">
      <mat-icon class="text-9xl">create_new_folder</mat-icon>
      <p class="text-xl">Book data empty</p>
    </div>

  </div>
</ng-template>
